
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>
<div>
    <label>Created By - Ganesh Bajare</label>
    <label>Center - Kharghar</label>
    <label>Rool No. - 210940320040</label>
</div>

